{
  "parser": "babel-eslint",
  "extends": "airbnb",

  "settings": {
    "ecmascript": 7
  },

  "env": {
    "browser": true,
  },

  "rules": {
    "react/jsx-no-bind": [2, {
      "ignoreRefs": false,
      "allowArrowFunctions": true,
      "allowBind": true
    }],

    "import/no-unresolved": [0],
    "react/prefer-stateless-function": [0],
    "no-restricted-syntax": [0],
    "jsx-a11y/img-has-alt": [0],
    "no-mixed-operators": [0],
    "arrow-parens": [2, "as-needed"]
  },

  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
}
